<h1>Edit Inventory Item</h1>
<%= form_with model: @item, url: items_path(@item), method: :patch, local: true do | f | %>
    <%= f.label(:name, "Item Name:") %>
    <%= f.text_field(:name) %>
    <%= f.label(:quantity, "Quantity:") %>
    <%= f.text_field(:quantity) %>
    <%= f.label(:description, "Description:") %>
    <%= f.text_field(:description) %>
    <%= f.label(:price, "Price:") %>
    <%= f.text_field(:price) %>
    <%= f.submit("Submit Change") %>
  <% end %>